@font-face {
  src: url("./styles/fonts/3270-Regular.woff") format("woff");
  font-face-name: "IBM 3270";
  font-variant: normal;
}

@font-face {
  src: url("./styles/fonts/3270Condensed-Regular.woff") format("woff");
  font-face-name: "IBM 3270 Condensed";
  font-variant: normal;
}