* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}