* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM 3270", sans-serif;
  letter-spacing: -0.04em;
  /*text-shadow: 0 0 .2rem #22ffbb;*/
  /*filter: drop-shadow(0 0 .04em #22ffbb44);*/
}

::selection {
  background: #22ffbb;
  color: #111414;
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-thumb {
  background: #22ffbb;
}

html {
  font-size: 20px;
}

body {
  color: #22ffbb;
  background: #111414;
}

/*body {*/
/*  color: #ff9955;*/
/*  background: #111;*/
/*}*/

a {
  color: #22ffbb;
  border-bottom: solid #22ffbb;
  text-decoration: none;
}