.horizontalWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #fff;
  color: #111;
}

.horizontalWrapper *::selection {
  background: #ff3377;
  color: #fff;
}

.verticalWrapper {
  width: min(100%, 74rem);
}

.verticalWrapper * {
  font-family: "IBM 3270", monospace;
  letter-spacing: -0.04em;
}

.header {
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  /*padding: 0 0 0 20%;*/
  gap: .5rem;
}

.mainTop {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

.mainTopID {
  text-transform: uppercase;
  width: 2rem;
}

.mainTopCell {
  text-transform: uppercase;
  width: 30%;
}

.games {
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  align-items: center;
  min-height: 4rem;
  transition: .1s linear background-color;
}

.gameID {
  font-size: 1.2rem;
  width: 2rem;
}

.gameCell {
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 30%;
}
.game:hover {
  background: #33ffcc;
  color: #111;
}

.gameButton {
  background: #111414;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: fit-content;
  opacity: 0;
  user-select: none;
  transition: .1s linear opacity;
}
.game:hover > .gameButton {
  opacity: 1;
}