.header {
  display: flex;
  gap: 1rem;
  position: absolute;
  padding: .5rem 1rem;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.link {
  color: #111;
  border-bottom: .1rem solid #111;
  font-family: IBMPlexMono, monospace;
  transition: .3s cubic-bezier(.35, .35, 0, .7) opacity;
  opacity: .4;
}

.link:hover {
  opacity: 1;
}