.horizontalWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: 'AtypDisplay', sans-serif;
  letter-spacing: -.01em;
  transition: .5s cubic-bezier(.35, .35, 0, .7);
}
.horizontalWrapper *::selection {
  background: #53f;
  color: #fff;
}
.wrapper {
  width: min(100%, 80rem);
  height: min(100%, 50rem);
  display: flex;
  padding: .5rem .5rem 2.25rem;
}

.rouletteBlock {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
  width: 5rem;
  transition: .5s cubic-bezier(.35, .35, 0, .7);
}

.roulette {
  background: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: #111 solid .1rem;
}

.rouletteField {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rouletteSlider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*transform: translateY(-600%);*/
}

.cardGreen, .cardRed, .cardBlack {
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 10rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardGreen {
  background: #11dd66;
}
.cardBlack {
  background: #111;
}
.cardRed {
  background: #ff1133;
}


.controller {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 1rem;
  background: #fff;
  width: 5rem;
  overflow: hidden;
  border-radius: 2rem 0 0 2rem;
  color: #111;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: .5s cubic-bezier(.35, .35, 0, .7);
}

.head {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: center;
  font-family: AtypDisplay, sans-serif;
  text-transform: uppercase;
  user-select: none;
  position: absolute;
  z-index: 10;
  transform: rotate(270deg);
  opacity: 1;
  transition: .5s cubic-bezier(.35, .35, 0, .7);
  padding: .5rem 1rem;
  text-decoration: underline;
  border-radius: 1rem;
}
.head[attribute='true'] {
  opacity: 0 !important;
  pointer-events: none;
}
.head:hover {
  transform: rotate(270deg) translateX(1rem);
}

.controllerMain {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.controllerHead {
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none;
}
.controllerHead > *:not(*:last-child) {
  margin-right: .5rem;
}

.money {
  color: #11dd66;
  /*background: #fff;*/
  width: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
  background: #f8f8f8;
  text-align: center;
  padding: .5rem;
  border-radius: 1rem;
  /*border-bottom: #11dd66 solid .15rem;*/
  text-decoration: underline;
}

.chips {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.chipLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3rem;
  aspect-ratio: 1/1;
}
.chipInput {
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  border: solid .15rem #111;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .25s cubic-bezier(.35, .35, 0, .7);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.chipInput:before {
  content: attr(value);
  font-family: IBMPlexMono, monospace;
}
.chipInput:disabled {
  background: #ddd;
  color: #aaa;
}
.chipInput:checked {
  transform: translateY(-1rem);
  box-shadow: 0 -.5rem #111;
}

.controllerBody {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

.controllerOutside {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  width: 100%;
}
.buttonOutside {
  padding: .75rem 0;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-width: 4rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: AtypDisplay, sans-serif;
  transition: .2s  cubic-bezier(.35, .35, 0, .7);
  border-radius: 1rem;
}
.buttonOutside:hover {
  background: #1111;
  transform: translateY(-.2rem);
}
.buttonOutside:active {
  transform: translateY(0);
}
.buttonOutsideRed, .buttonOutsideBlack {
  width: 1.25rem;
  aspect-ratio: 1/1;
  transform: rotate(45deg);
  background: #ff1133;
}
.buttonOutsideBlack {
  background: #111;
}

.controllerEnter {
  display: flex;
  gap: .5rem;
}

.controllerLines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}
.controllerLine {
  height: 100%;
  width: 5rem;
  font-size: 1rem;
  border-radius: .75rem;
  transition: .4s cubic-bezier(.35, .35, 0, .7);
  color: #111;
}
.controllerLine:hover {
  transform: translateY(-.5rem);
  background: #1111;
}
.controllerLine:active {
  transform: translateY(0);
}

.controllerCells {
  display: grid;
  gap: 0;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  border-radius: .5rem;
  /*overflow: hidden;*/
}

.blackCell, .redCell, .greenCell {
  display: flex;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  aspect-ratio: 16/15;
  color: #fff;
  font-size: 1rem;
  transition: .25s cubic-bezier(.35, .35, 0, .7);
  /*box-shadow: 0 0 0 .05rem #fff1;*/
  cursor: pointer;
  font-weight: 400;
  position: relative;
  user-select: none;
  box-shadow: 0 0 0 #111;
  font-family: IBMPlexMono, monospace;
}

.chipOnCell {
  background: #fff;
  border-radius: 50%;
  padding: .1rem;
  min-width: 2rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  position: absolute;
  transition: .2s cubic-bezier(.35, .35, 0, .7);
  border: #448 solid .2rem;
  z-index: 1;
  pointer-events: none;
  font-size: .8rem;
  font-family: monospace;
  font-weight: 700;
  opacity: 1;
}

*:hover > .chipOnCell {
  opacity: .1;
}

.blackCell:hover, .redCell:hover, .greenCell:hover {
  transform: translateY(-.5rem) scaleY(1.06);
  box-shadow: 0 .8rem 0 #111;
  filter: invert(.1);
}
.blackCell:active, .redCell:active, .greenCell:active {
  transform: translateY(0);
  box-shadow: 0 .4rem 0 #111;
}

.blackCell {
  background: #111;
}

.redCell {
  background: #ff1133;
}

.greenCell {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  background: #1d6;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomButton {
  font-family: AtypDisplay, sans-serif;
  font-size: 1.2rem;
  padding: .75rem 1.5rem;
  border-radius: 1.25rem;
  color: #111;
  font-weight: 500;
  transition: .25s ease-out;
}
.bottomButton:hover {
  background: #f11;
  color: #fff;
  transform: translateY(-.25rem);
}
.bottomButton:active {
  transform: translateY(0);
}

.infoButton {
  font-size: .8rem;
  color: #111;
  font-family: AtypDisplay, sans-serif;
  text-decoration: underline;
}

.infoBlock {
  position: absolute;
  top: 10%;
  left: 6rem;
  width: calc(100% - 12rem);
  height: 80%;
  background: #fffe;
  box-shadow: 0 1rem 2rem #9992;
  border-radius: 2rem;
  z-index: 10;
}
.infoBlockWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 4rem 3rem;
  display: flex;
  gap: 4rem;
}
.cross {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1rem;
  padding: 1rem;
  transition: .3s ease-out;
  color: #111;
}
.cross:hover {
  opacity: .5;
}

.infoLeftPart, .infoRightPart {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 45%;
  font-size: 1.1rem;
}

.infoRightPart {
  margin: auto 0;
  text-indent: 4rem;
}

.infoList {
  font-weight: 500;
}

.footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.buttonHead {
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  height: 2.5rem;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: 500;
  font-family: AtypDisplay, sans-serif;
  transition: .2s  cubic-bezier(.35, .35, 0, .7);
  border-radius: 1rem;
}
.buttonHead:hover {
  background: #1111;
  transform: translateY(-.2rem);
}
.buttonHead:active {
  transform: translateY(0);
}

.roulettePopup {
  position: absolute;
  z-index: 10;
  background: #fff8;
  padding: 1rem 2rem;
  border-radius: 1rem;
  align-self: center;
  top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.history {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: 500;
}
.historyHead {
  margin-right: .25rem;
}
.historyBlockRed, .historyBlockBlack, .historyBlockGreen {
  padding: .5rem 0;
  width: 2.5rem;
  text-align: center;
  background: #eee;
  border-radius: .75rem;
  color: #fff;
}
.historyBlockRed {
  background: #ff1133;
}
.historyBlockBlack {
  background: #111;
}
.historyBlockGreen {
  background: #11dd66;
}

.code {
  position: absolute;
  display: flex;
  top: .5rem;
  align-items: center;
  align-self: center;
  background: #eee;
  width: 5rem;
  height: 1rem;
}

.codeInput {
  opacity: 0;
  position: absolute;
}

/*@media (max-width: 1200px) {*/
/*  .controllerCells {*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    grid-auto-rows: 1fr;*/
/*    grid-template-rows: unset;*/
/*    grid-auto-flow: row;*/
/*  }*/
/*  .redCell, .blackCell, .greenCell {*/
/*    width: 2rem;*/
/*    height: 3vh;*/
/*  }*/
/*  .greenCell {*/
/*    grid-column: 1/4;*/
/*    grid-row: 1/2;*/
/*    width: 100%;*/
/*  }*/
/*}*/